header {
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
h2 {
    font-size: large;
}

#answers {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 200px;
    margin-left: 30px;
    margin-top: 50px;

}
div button {
    font-size: medium;

}

.initial-form-hidden {
    display: none;
}

.initial-form {
    display: block;
}

